<%- include("header") %>

<div class="box" id="heading">
  <h1><%=listTitle%></h1>
</div>

<div class="box">
  <% for(i = 0; i < listItems.length; i++){ %>
  <form action="/delete" method="post">
    <div class="item">
        <input name="checkbox" type="checkbox" value="<%=listItems[i]._id%>" onChange="this.form.submit()" />
        <p name="toDoItem"><%= listItems[i].name %></p>
    </div>
  </form>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New item" required />
    <button type="submit" name="button" value=<%= listTitle %>>+</button>
  </form>
</div>

<%- include("footer") %>